html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}
::selection {
  background: #8b5cf6;
  color: white;
}

.floating-tech {
  position: absolute;

  width: 64px;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 16px;

  background: #090d1a;

  border: 1px solid #1e293b;

  animation: float 6s ease-in-out infinite;

  transition: 0.35s;
}

.floating-tech:hover {
  transform: scale(1.08);

  border-color: #8b5cf6;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-14px);
  }
}

.tech-1 {
  top: 20px;
  left: 30px;

  animation-delay: 0s;
}

.tech-2 {
  top: 80px;
  right: 25px;

  animation-delay: 0.8s;
}

.tech-3 {
  top: 170px;
  left: 0;

  animation-delay: 1.6s;
}

.tech-4 {
  top: 250px;
  right: 40px;

  animation-delay: 2.4s;
}

.tech-5 {
  top: 330px;
  left: 40px;

  animation-delay: 3.2s;
}

.tech-6 {
  top: 390px;
  right: 0;

  animation-delay: 4s;
}
.view-all-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;

  font-size: 0.875rem;
  font-weight: 600;

  background: linear-gradient(90deg, #818CF8 0%, #C084FC 100%);
  background-size: 200% 100%;
  background-position: left;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  transition: background-position 0.35s ease;
}

.view-all-link:hover {
  background-position: right;
}

.arrow {
  transition: transform 0.25s ease;
}

.view-all-link:hover .arrow {
  transform: translateX(4px);
}

.contact-icon {
    position: relative;
    border-radius: 9999px;
    background: #0F1526;
    z-index: 0;
    transition: transform .3s ease;
}

.contact-icon::before {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: inherit;

    background: linear-gradient(
        90deg,
        #3B82F6,
        #8B5CF6,
        #D946EF
    );

    opacity: 0;
    transition: opacity .3s ease;

    z-index: -2;
}

.contact-icon::after {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background: #0F1526;
    z-index: -1;
}

.contact-icon:hover {
    transform: translateY(-4px);
}

.contact-icon:hover::before {
    opacity: 1;
}